<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métodos Numéricos</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="icon" href="../static/imgs/logo_Integrax2.png" type="image/png">
</head>

<body class="theme theme--light" id="theme">
    <div id="modal-overlay" class="modal-overlay"></div>
    <!-- Header -->
    <header class="header">
        <div class="header__container">
            <div class="header__content">
                <h1 class="header__title">IntegraX</h1>
            </div>
            <nav class="navbar">
                <ul>
                    <li class="navbar__item"><a href="#!" class="navbar__link">Inicio</a></li>
                    <li class="navbar__item"><a href="#!" class="navbar__link">Comparador</a></li>
                    <li class="navbar__item"><a href="#!" class="navbar__link">Aprende</a></li>
                </ul>
            </nav>
            <!-- Toggle Mode -->
            <div class="toggle">
                <span class="toggle__icon">☀️</span>
                <button onclick="toggleMode()" class="toggle__button" id="toggleButton">
                    <span class="toggle__circle" id="toggleCircle"></span>
                </button>
                <span class="toggle__icon">🌙</span>
            </div>
        </div>
    </header>
    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal__header">
            <div class="modal__header-icon danger" id="modal-icon">
                <img src="../static/imgs/icons/warning.png" alt="icon">
            </div>
            <h3 id="modal__header-title">Titulo</h3>
        </div>
        <div class="modal__body">
            <div class="modal__body-content">
                <p id="modal-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="modal__body-actions">
                <button type="button" class="cancel-button" onclick="closeModal()">Aceptar</button>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <main class="main">
        <div class="main__grid">
            <!-- Input Section -->
            <form class="input-section">
                <label for="ecuacion" class="input-section__label">
                    Ingrese su ecuación:
                </label>
                <input type="text" id="ecuacion" placeholder="Ejemplo: x^2 - 4" class="form-control" required>

                <label for="metodo" class="input-section__label">
                    Seleccione el método numérico:
                </label>
                <select id="metodo" class="form-control" onchange="headerTabla(this.value)" required>
                    <option value="">Seleccione un método</option>
                    <option value="1">Método de Bisección</option>
                    <option value="2">Método de Regla Falsa</option>
                    <option value="3">Método de la Secante</option>
                </select>
                <div class="parameters">
                    <div class="parameters__group">
                        <div class="parameters__field">
                            <label class="input-section__label">Rango inicial a:</label>
                            <input type="number" id="a" value="0" step="0.1" class="form-control" required>
                        </div>
                        <div class="parameters__field">
                            <label class="input-section__label">Rango inicial b:</label>
                            <input type="number" id="b" value="1" step="0.1" class="form-control" required>
                        </div>
                    </div>
                    <div class="parameters__group">
                        <div class="parameters__field">
                            <label class="input-section__label">Criterio de error:</label>
                            <select id="criterio" class="form-control" required>
                                <option value="1">|xi+1 - xi|</option>
                                <option value="2">|xi+1 - xi| / |xi+1|</option>
                                <option value="3">|f(xi+1)|</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="button" onclick="procesarEcuacion()" class="button button--full">
                    Procesar
                </button>
            </form>

            <!-- Image Section -->
            <div class="image-section">
                <img src="../static/imgs/fondo.png" alt="chico_estudiando" class="image-section__img">
            </div>
        </div>
        <p id="iterations" class="data visually-hidden"></p>
        <p id="result" class="data visually-hidden"></p>
        <p id="time-result" class="data visually-hidden"></p>
        <section class="charts-section">
            <div class="chart-card">
                <h2 class="chart-card__title">Gráfica de la función</h2>
                <div class="chart-card__canvas-wrapper">
                    <canvas id="chart-funcion"></canvas>
                </div>
            </div>
        </section>
        <!-- Results Table -->
        <div class="results-table">
            <div class="results-table__wrapper">
                <table class="results-table__table">
                    <thead id="headerResultados">

                    </thead>
                    <tbody id="tablaResultados">

                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer__container">
            <p class="footer__title">
                Programado por Lenny Adrián Elías Sánchez
            </p>
            <p class="footer__subtitle">Métodos numéricos</p>
            <p class="footer__copyright">Copyright 2025</p>
        </div>
    </footer>
    <script src="../static/js/controller.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>